body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: black;
}

:root {
    --background-image: url('/file-storage-audio-player/assets/img/lemonade.png');
    /* Значение по умолчанию */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    filter: blur(9px);
    /* Здесь задается эффект размытия */
    z-index: -1;
}

.background-container {
    background-image: url("/file-storage-audio-player/assets/img/lemonade.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 35px;
    padding-top: 200px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);

    .audio-player {
        height: 150px;
        width: 350px;

        background: linear-gradient(to bottom right, #525858, rgb(103, 134, 146));
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        font-family: arial;
        color: white;
        font-size: 0.75em;
        overflow: hidden;
        display: grid;
        grid-template-rows: 6px auto;
        padding: 20px;

        .prew {
            position: relative;
            left: 8%;
            top: 260%;
            height: 25px;
            width: 25x;
            margin-left: 35px;
            background-image: url("/file-storage-audio-player/assets/svg/prew.png");
            background-repeat: no-repeat;
            background-size: contain;
        }

        .next {
            position: relative;
            left: 18%;
            top: 160%;
            height: 25px;
            width: 25x;
            margin-left: 35px;
            background-image: url("/file-storage-audio-player/assets/svg/next.png");
            background-repeat: no-repeat;
            background-size: contain;
        }

        .timeline {
            background: white;
            width: 60%;
            position: relative;
            left: 20%;
            top: 90%;
            max-height: 7px;
            margin-bottom: 50px;
            cursor: pointer;
            box-shadow: 0 2px 10px 0 #0008;
            height: 5px;

            .progress {
                background: coral;
                width: 0%;
                height: 100%;
                transition: 0.25s;
            }

            .time {
                display: flex;
                max-height: 7px;
                margin-top: -25px;
                margin-left: 70%;

                >* {
                    padding: 2px;
                }
            }


        }



        .controls {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            height: 50px;
            padding: 0 20px;

            >* {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .toggle-play {
                &.play {
                    cursor: pointer;
                    position: relative;
                    left: 0;
                    height: 50px;
                    width: 50px;

                    background-image: url("/file-storage-audio-player/assets/svg/play.png");
                    background-repeat: no-repeat;
                    background-size: contain;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                &.pause {
                    height: 15px;
                    height: 50px;
                    width: 50px;
                    cursor: pointer;
                    position: relative;
                    background-image: url("/file-storage-audio-player/assets/svg/pause.png");
                    background-repeat: no-repeat;
                    background-size: contain;


                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .text-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .name {
                    font-size: 18px;
                }
            }


            .volume-container {
                cursor: pointer;

                .volume-button {
                    height: 26px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    left: 0;
                    height: 50px;
                    width: 50px;



                    .volume {
                        &.icono-volumeMedium {
                            height: 50px;
                            width: 50px;
                            background-image: url("/file-storage-audio-player/assets/svg/on.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                        }

                        &.icono-volumeMute {
                            height: 50px;
                            width: 50px;
                            background-image: url("/file-storage-audio-player/assets/svg/off.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                        }

                        transform: scale(0.7);
                    }
                }


                position: relative;
                z-index: 2;

                .volume-slider {
                    position: absolute;
                    left: -3px;
                    top: 15px;
                    z-index: -1;
                    width: 0;
                    height: 15px;
                    background: white;
                    box-shadow: 0 0 20px #000a;
                    transition: .25s;

                    .volume-percentage {
                        background: coral;
                        height: 100%;
                        width: 75%;
                    }

                }

                &:hover {
                    .volume-slider {
                        left: -123px;
                        width: 120px;
                    }
                }
            }
        }
    }
}